

@font-face {
    font-family: Futura;
    src: url(../assets/fonts/Futura\ Condensed\ Extra\ Bold.otf);
}
@font-face {
    font-family: HelveticaNowText-Medium;
    src: url(../assets/fonts/HelveticaNowText-Medium.ttf);
}
@font-face {
    font-family: HelveticaNowText-Regular ;
    src: url(../assets/fonts/HelveticaNowText-Regular.ttf);
}