@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Futura;
    src: url(../assets/fonts/Futura\ Condensed\ Extra\ Bold.otf);
}
@font-face {
    font-family: HelveticaNowText-Medium;
    src: url(../assets/fonts/HelveticaNowText-Medium.ttf);
    font-weight: 700;
   
}
@font-face {
    font-family: HelveticaNowText-Regular ;
    src: url(../assets/fonts/HelveticaNowText-Regular.ttf);
}

body {
    font-family: HelveticaNowText-Regular;
    overflow-x: hidden;
}
@media (min-width:961px) {
    #hidden {
        display: none;
    }
    h1 {
        font-size: 75px;
        letter-spacing: -6px;
    }
}
h1 {
    font-family: Futura;
}
@media (max-width: 960px) {
    #image {
        object-fit: cover;
    }
    h1 {
        font-size: 36px;
    }
  
}

@layer utilities {
  @variants responsive {
    .first\:ml-0:first-child {
      margin-left: 0 !important;
    }
  }

  @screen xl {
    .xl\:content-category-main {
      @apply relative;
    }
    .xl\:content-bottom-right {
      @apply flex justify-center items-center absolute w-full h-full top-0;
    }
  }

  @screen lg {
    .lg\:content-category-main {
      @apply flex justify-between;
    }
    .lg\:content-bottom-right {
      @apply self-center;
    }
  }
}
