@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: HelveticaNowText-Medium;
    overflow-x: hidden;
}
@media (min-width:961px) {
    #hidden {
        display: none;
    }
}
@media (max-width: 960px) {
    #image {
        object-fit: cover;
    }
}