@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: HelveticaNowText-regular;
    overflow-x: hidden;
}
@media (min-width:961px) {
    #hidden {
        display: none;
    }
    h1 {
        font-size: 75px;
        letter-spacing: -6px;
    }
}
h1 {
    font-family: Futura;
}
@media (max-width: 960px) {
    #image {
        object-fit: cover;
    }
    h1 {
        font-size: 36px;
    }
  
}